@media screen and (min-width: 360px) {
	.navbar-nav{
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
 .navbar-nav{
		width: 100%;
	}
}
header{
	margin: 0;
	padding: 0;
}
.body{
	background-color: grey;
	height: 120vh;
 	width: 100%;
 	margin: 0;
 	padding: 0;
}
.container{
	padding-top: 20px;
}
.footer{
	height: 5em;
}
.text-right button{
	padding: 20px;
	font-weight: bold;
	width: 30%
}